.flashcard {
  width: 35%;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  /* padding: 40px; */
  perspective: 1000;
  height: 300px;
}

.flipper {
   /* transform-style: preserve-3d;  */
  transition: all 0.25s linear;
  background-color: #EC576B;
  border-radius: 5px;
  height: 100%;
}

.flashcard:hover .flipper {
  transform: rotateY(180deg);
  background-color: #000000; 
}


.question {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  backface-visibility: hidden;
  color: #000000; 
  padding: 40px;
  box-sizing: border-box;
}
.flashcard:hover .question {
  z-index: -2;
}

.answer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  color: #EC576B; 
  border-radius: 5px;
  z-index: -1;
  padding: 40px;
  box-sizing: border-box;
}

.flashcard:hover .answer {
  z-index: 1;
}